*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: rgb(111, 111, 228);
    height: 100vh;
    text-align: center;
}
.container{
    position: absolute;
    border: 1px solid black;
    top: 20%;
    left:50%;
    transform: translate(-50%,-20%);
    padding: 10px;
}
.game{
    border-top: 1px solid black ;
    display: flex;
}
.game img{
    width: 150px;
    height:150px;
    margin:10px;
    box-shadow: 0 10px 50px rgba(170, 23, 23, 0.7);
    justify-content: space-around;
}
.game img:hover{
    box-shadow: 0 10px 50px #f80b95;
}
/* style game */